## functions
export(

AICc,
akaike.weights,
calib,
calib2,
curvemean,
Cy0,
eff,
efficiency,
expcomp,
expfit,
evidence,
LR,
maxRatio,
midpoint,
modlist,
mselect,
outlier,
pcrbatch,
pcrfit,
pcrGOF,
pcrimport,
pcropt1,
pcropt2, 
pcrplot,
pcrpred,
PRESS,
propagate,
ratiocalc,
resplot,
resVar,
RMSE,
Rsq,
Rsq.ad,
Rsq.cor,
RSS,
sliwin
)

## S3 methods
## S3method(print, pcrfit)




