## functions
export(

efficiency, mchoice, repform,
sliwin, Rsq, resVar, pcrplot, confband, eff,
expfit, pcrbatch, RMSE, calib,
pcrpred, pcrGOF, expcomp, pcrimport, pcrfit,
AICc, evidence, modlist, pcropt1, propagate,
ratiocalc, ratioplot, curvemean
)

## S3 methods



